<form
    novalidate
    [formGroup]="gameSetup"
    (ngSubmit)="sendSetupConfig()">
  <div class="form-control">
    <label class="switch">
      Mode
      <input type="checkbox" formControlName="modeHumanAsks">
      <span class="slider"></span>
      <span *ngIf="gameSetup.get('modeHumanAsks').value; else machineAsks">Human asks</span>
      <ng-template #machineAsks>Machine Asks</ng-template>
    </label>
  </div>
  <div
    class="form-control">
    <label class="switch">
      Level
      <input type="checkbox" formControlName="randomLevel">
      <span class="slider"></span>
      <span *ngIf="gameSetup.get('randomLevel').value; else highlevel">Random level</span>
      <ng-template #highlevel>High level</ng-template>
    </label>
  </div>
  <button type="submit" [disabled]="gameSetup.invalid">Start Game</button>
</form>