$gng-primary-green: #a4c639; 
$gng-primary-green-light: #b9e03e;
$gng-primary-blue: #1073ba;
$gng-primary-blue-light: #127dca;
$gng-primary-white: #FFFFFF;
$gng-primary-gray-700: #CFCFCF;
$gng-primary-gray-500: #7F7F7F;
$gng-primary-gray-200: #3F3F3F;


